*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color1;
  font-size: 1rem;
  line-height: 1.5rem;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-content: center;
}